table.mat-table{
    width: 100%;
}
.example-container{
    display: flex;
    flex-direction: column;
    max-height: 550px;
    min-width: 300px;
    margin-bottom: 10px;
    overflow: auto;
}
tr:nth-child(even) {background-color: #f2f2f2;}
/* table{width: 120% !important;overflow-x: scroll;} */
td{
    padding: 10px !important;
}