
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<div class="Main_content">
    <div class="container">
        <form [formGroup]="dashboardData">
        <div class="row ">
          <div class="card-holder col-md-6">
            <div class="basic-card-holder general-service-card-item">
              <h2>Total Member</h2>
              <div class="booking-detail">
              
                   <p><span class="cost">{{totalMember}}</span> 
              </div>
              <div class="row">
                <div class="col-12" >
                  <mat-form-field  class="w-100">
                    <input matInput [matDatepicker]="picker3" placeholder="start date" formControlName="pdate">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-12">
                  <mat-form-field class="w-100">
                    <input matInput [matDatepicker]="picker4" placeholder="end date" formControlName="pedate">
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <button mat-button class="border" (click)="getTotalmember()">Check</button>
                </div>
                <div class="col-md-6">
                  <!-- <button mat-button class="border" routerLink="{{routes.createMember}}">Add</button> -->
                </div>
              </div>
            </div>
          </div>
          <div class="card-holder col-md-6">
            <div class="basic-card-holder general-service-card-item">
              <h2>Total Amount</h2>
              <div class="booking-detail">
                
                  <p><span class="cost">{{totalAmount}}</span>
                    <span class="currency">INR</span></p>
      
              </div>
              <div class="row">
                <div class="col-12" >
                  <mat-form-field  class="w-100">
                    <input matInput [matDatepicker]="picker1" placeholder="start date" formControlName="sdate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-12">
                  <mat-form-field class="w-100">
                    <input matInput [matDatepicker]="picker2" placeholder="end date" formControlName="edate">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <button mat-button class="border" (click)="getTotalAmount()" >Check</button>
                </div>

              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
</div>