
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<app-mobilenav></app-mobilenav>
<div class="Main_content">
<div class="container">
    <div class="row">
        <div class="col-md-8">
          <span class="mp-5">
            <mat-form-field class="example-full-width col-4 m-20" appearance="fill">
                <mat-label>Search</mat-label>
                <input matInput placeholder="" value="">
            </mat-form-field>
          </span>
            <span class="mp-5">
            <mat-form-field class="col-4 m-20">
                <mat-label>Select a date range</mat-label>
                <input matInput [matDatepicker]="picker" class="">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </span>
            <button mat-raised-button class="m-5">Filter</button>
        </div>
        <div class="col-md-4 padd-15" >
          <button mat-raised-button class="m-5" (click)="exporter.exportTable('xlsx', {fileName:'MemberForm', sheet: 'Member', Props: {Author: 'Abdul'}})">Excel</button>
          <button mat-raised-button class="m-5" (click)="exporter.exportTable('csv')">Csv</button>
          <button mat-raised-button class="m-5" (click)="exporter.exportTable('json')">Json</button>
          <button mat-raised-button class="m-5" (click)="exporter.exportTable('other')">Other</button>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-2">
            <div class="wh-btn">Add column</div>
            </div>
            <div class="col-md-2">
            <div class="wh-btn">Remove column</div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-12">
          <div class="example-container mat-elevation-z8  ">
            <table mat-table matSort matTableExporter  [dataSource]="dataSource" #exporter="matTableExporter">
        
              <ng-container matColumnDef="joiningDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Joining Date</th>
                <td mat-cell *matCellDef="let element"> {{element.joiningDate | date: 'yyyy/MM/dd'}} </td>
              </ng-container>
              <ng-container matColumnDef="memberNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Member Number</th>
                <td mat-cell *matCellDef="let element" #memNum> {{element.memberNumber}} </td>
              </ng-container>
              <ng-container matColumnDef="designation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation/Role</th>
                <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
              </ng-container>
        
        
              <ng-container matColumnDef="memberName">
                <th mat-header-cell *matHeaderCellDef>Member Name</th>
                <td mat-cell *matCellDef="let element"> {{element.memberName}} </td>
              </ng-container>
              <ng-container matColumnDef="fatherName">
                <th mat-header-cell *matHeaderCellDef>Father Name</th>
                <td mat-cell *matCellDef="let element"> {{element.fatherName}} </td>
              </ng-container>
              <ng-container matColumnDef="permanentAddress">
                <th mat-header-cell *matHeaderCellDef>Permanent Address</th>
                <td mat-cell *matCellDef="let element"> {{element.permanentAddress}} </td>
              </ng-container>
        
              <ng-container matColumnDef="permanentCity">
                <th mat-header-cell *matHeaderCellDef>Permanent City</th>
                <td mat-cell *matCellDef="let element"> {{element.permanentCity}} </td>
              </ng-container>
              <ng-container matColumnDef="mobileNumber">
                <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
                <td mat-cell *matCellDef="let element"> {{element.mobileNumber}} </td>
              </ng-container>
              <ng-container matColumnDef="whatsappNumber">
                <th mat-header-cell *matHeaderCellDef>Whatsapp Number</th>
                <td mat-cell *matCellDef="let element"> {{element.whatsappNumber}} </td>
              </ng-container>
        
              <ng-container matColumnDef="aadharNumber">
                <th mat-header-cell *matHeaderCellDef>Aadhar Number</th>
                <td mat-cell *matCellDef="let element"> {{element.aadharNumber}} </td>
              </ng-container>
              <ng-container matColumnDef="currentAddress">
                <th mat-header-cell *matHeaderCellDef>Current Address</th>
                <td mat-cell *matCellDef="let element"> {{element.currentAddress}} </td>
              </ng-container>
              <ng-container matColumnDef="currentCity">
                <th mat-header-cell *matHeaderCellDef>Current City</th>
                <td mat-cell *matCellDef="let element"> {{element.currentCity}} </td>
              </ng-container>
              <ng-container matColumnDef="operation" >
                <th mat-header-cell *matHeaderCellDef >Operation</th>
                <td mat-cell *matCellDef="let element"  > <mat-icon *ngIf="edited" (click)="onClickMem($event)" id={{element.memberNumber}}>edit</mat-icon><mat-icon *ngIf="edited" (click)="myClickHandler($event)">delete</mat-icon></td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <!-- <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr> -->
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
    </div>
</div>
</div>