.m-5{
    margin: 5px !important;
}
.padd-15{
    padding: 15px;
}
table.mat-table{
    width: 100%;
}
.mat-cal {
    padding-bottom: 22px !important;
}
.mp-5 {
    padding: 0 20px;
}
.example-container{
    display: flex;
    flex-direction: column;
    max-height: 550px;
    min-width: 300px;
    margin-bottom: 10px;
    overflow: auto;
}
.d-monly{
    display: none;
}