.custom-padd > span{
    padding: 20px;
  }
  .iwas-head{
    width: 180px;
  }
  select{
    border: none;
    outline: none;
    font-size: 18px;
    color: green;
  }
  /* .fill-remaining-space {
    flex: 1 1 auto;
  } */
  .mat-icon:hover{
      cursor: pointer;
  }
  nav ul{
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      justify-content: end;
    align-items: center;
  }
  .small-text {
    font-size: 13px;
    position: relative;
    top: 20px;
    right: 35px;
  }
  .large-text {
    font-size: 14px;
  }
  .menu-padd > mat-icon{
    padding: 0 20px;
    margin: 0 20px;
  }
  .mx-30{
    margin: 0 30px;
  }
  .acc-icon{
    position: absolute;
    font-size: 35px;
    color: green;
  }
  .mat-drawer-content{
    overflow-x:hidden;
  }
  .no-padd{
    padding: 0 !important;
  }
  .no-margin{
    margin: 0 !important;
  }
  .align-set-icon{
    display: flex;
    justify-content: space-around;
    align-items: end;
  }
  .admin-icon{
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 8px;
    left: 5%;
  }
  .mat-toolbar-row{
    background-color: #fff;
  }
  .d-head{
    font-size: 18px;
    font-weight: bold;
  }
  

  .home-section .text{
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
  }
  ul.thirdlvl {
    padding: 0 15px;
  }
  .matDropIcon{
    position: absolute;
    right: 10px;
    color: #fff;
  }
  /* .matDropIcon:hover{
    color: #333;
  } */
  .sidebar li a:hover .matDropIcon{
    color: #333;
  }
  span.tooltip>ul>li>a {
    color: #fff;
    background: #333;
    padding: 10px;
    margin: 0;
  }
  span.tooltip>ul>li>a:hover {
    color: #333;
    background-color: #fff;
  }
  .mainNav{
    position: relative;
    left: 5%;
  }
  .push-bar{
    position: relative;
    left: 16%;
  }
  .main-txt{
    width: 100% !important;
    position: absolute !important;
    left: 16% !important;
  }
.remove-margin {
    margin-left: 0 !important;
}
.fl-right{
  position: absolute;
  right: 30%;

}
.right-0{
  right: 18%;
}
.mt-10{
  margin-top: 10px;
  background: transparent;
  font-size: 16px;
  font-weight: 400;
}