.banner {
    width:100%;
    height:550px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center center;
    } 
    .full-form{
        width: 100%;
    }
    .mat-form-field-appearance-fill .mat-form-field-flex{
        background-color: red !important;
    }
    .padd-20{
        padding: 0 20px;
    }
    .iwas-btn{
        background: #087335 !important;
    }
.d-none{
    display: none;
}
.resHome{
    height:100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.fpwd{
    color: #333;
}
.fpwd:hover{
    color: #087335;
    cursor: pointer;
}

.text-left{
    margin: 10px 0 20px 0;
}
@media only screen and (max-width:768px){
    .welcome-txt{
        padding: 30px;
        font-size: 25px;
    }
    .text-left{
        text-align: left;
        padding: 15px 0;
    }
    .center-login{
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    .resHome{
        display: table;
    }
}